.tile{
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
}

.black-tile {
    background-color: var(--dark);
}

.white-tile{
    background-color: var(--light);
}

.tile .chess-piece:hover{
    cursor: grab;
}

.tile .chess-piece:active{
    cursor: grabbing;
}

.tile .chess-piece{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}