:root{
    --dark: #24227E;
    --light: aliceblue;
    --length: 801;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1;
  }

  #frame {
    display: grid;
    grid-template-areas:
        "vertical-numbers chessboard"
        "empty horizontal-letters";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}

#vertical-numbers {
  grid-area: vertical-numbers;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%; /* Make it stretch to the full height */
  margin-right: 20px; /* Adjust spacing if necessary */
  font-size: larger;
}

#vertical-numbers span {
  height: 12.5%;
  display: inline-flex;
  align-items: center;
}
#horizontal-letters {
  grid-area: horizontal-letters;
  display: flex;
  justify-content: space-between; /* Space between each letter */
  align-items: center; /* Center items vertically */
  width: 100%; /* Set a fixed width for the container */
  font-size: larger;
}

#horizontal-letters span {
  flex: 1; /* Allow spans to grow and take equal space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Center text inside spans */
}