@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');



/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

p {
  font-size: 1.2rem;
}

#header-container {
    padding: 0 5%;
    text-align: center;
}

#boardconfig {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75dvh;
}

#chessboard-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    width: 50%;
}

#chessboard-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    font-weight: 700;
}

#robot-label,
#you-label {
    font-size: 1.5rem;
    font-weight: 700;
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

#info-container h2 {
    margin-bottom: 0.5em;
    font-size: 3em;
}

#info-container p {
    margin-bottom: 1em;
    font-size: 2.3em;
}

#start-game-button {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    border: 4px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#start-game-button:hover {
    background-color: #F24E1E;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    animation: rotate 2s infinite linear;
}

.spinner div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
}

.spinner div:nth-child(2) {
    background: #999;
    animation-delay: -1s;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bounce {
    0%, 100% { transform: scale(0); }
    50% { transform: scale(1); }
}

/* Responsive Design */
@media (min-width: 768px) {
    #boardconfig {
        flex-direction: row;
        padding: 2em;
    }

    #chessboard-area {
        margin-bottom: 0;
    }

    #info-container {
        width: 50%;
    }

    p {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    #header-container {
        padding: 0 10%;
    }

    #info-container {
        width: 50%;
    }

    p {
        font-size: 1.5rem;
    }

    #robot-label,
    #you-label {
        font-size: 2rem;
    }
}